@using iTEMS.ViewModels
@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<br />
<br />
<br />
<h1>Dashboard</h1>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="d-flex justify-content-between align-items-center">
                Projects Overview
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </h2>
        </div>
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-bars-progress"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Total Projects</span>
                            <span class="info-box-number">@Model.TotalProjects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal elevation-1"><i class="fa-solid fa-list-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Projects in Planning Phase</span>
                            <span class="info-box-number">@Model.PlanningProjects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-indigo elevation-1"><i class="fa-solid fa-spinner"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Pending Projects</span>
                            <span class="info-box-number">@Model.PendingProjects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fa-regular fa-clock"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Delayed Projects</span>
                            <span class="info-box-number">@Model.DelayedProjects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-ban"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Blocked Projects</span>
                            <span class="info-box-number">@Model.BlockedProjects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-circle-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Completed Projects</span>
                            <span class="info-box-number">@Model.CompletedProjects</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="d-flex justify-content-between align-items-center">
                Tasks Overview
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </h2>
        </div>
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-bars-progress"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Total Tasks</span>
                            <span class="info-box-number">@Model.TotalTasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-teal elevation-1"><i class="fa-solid fa-list-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tasks in Planning Phase</span>
                            <span class="info-box-number">@Model.PlanningTasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-indigo elevation-1"><i class="fa-solid fa-spinner"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Pending Tasks</span>
                            <span class="info-box-number">@Model.PendingTasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fa-regular fa-clock"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Delayed Tasks</span>
                            <span class="info-box-number">@Model.DelayedTasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-ban"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Blocked Tasks</span>
                            <span class="info-box-number">@Model.BlockedTasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-circle-check"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Completed Tasks</span>
                            <span class="info-box-number">@Model.CompletedTasks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var projectTaskDetails in Model.ProjectTaskDetailsList)
{
    var totalTasks = projectTaskDetails.Tasks.Count();
    var pendingTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Pending");
    var planningTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Planning");
    var delayedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Delayed");
    var blockedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Blocked");
    var completedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Completed");
    var percentagePending = (double)pendingTasks / totalTasks * 100;
    var percentagePlanning = (double)planningTasks / totalTasks * 100;
    var percentageDelayed = (double)delayedTasks / totalTasks * 100;
    var percentageBlocked = (double)blockedTasks / totalTasks * 100;
    var percentageCompleted = (double)completedTasks / totalTasks * 100;
    var completionRate = (double)completedTasks / totalTasks * 100;
    var ongoingTasks = pendingTasks + delayedTasks + blockedTasks + planningTasks;


    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="d-flex justify-content-between align-items-center">
                    @projectTaskDetails.Project.Name Performance
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Data Since: 1 Jan, 2024</strong>
                        </p>
                        <div class="card-body">
                            <canvas id="@($"projectStatusChart_{projectTaskDetails.Project.Id}")" height="180" style="height: 180px;"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>Project Progress</strong>
                        </p>

                        <!-- /.progress-group -->

                        <div class="progress-group">
                            <strong> Tasks in Planning Phase</strong>
                            <span class="float-right"><b>@(percentagePlanning)%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-teal" style="width: @(percentagePlanning)%"></div>
                            </div>
                        </div>

                        <div class="progress-group">
                            Pending Tasks
                            <span class="float-right"><b>@(percentagePending)%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-indigo" style="width: @(percentagePending)%"></div>
                            </div>
                        </div>

                        <div class="progress-group">
                            Delayed Tasks
                            <span class="float-right"><b>@(percentageDelayed)%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning" style="width: @(percentageDelayed)%"></div>
                            </div>
                        </div>

                        <div class="progress-group">
                            Blocked Tasks
                            <span class="float-right"><b>@(percentageBlocked)%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width: @(percentageBlocked)%"></div>
                            </div>
                        </div>

                        <div class="progress-group">
                            Completed Tasks
                            <span class="float-right"><b>@(percentageCompleted)%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success" style="width: @(percentageCompleted)%"></div>
                            </div>
                        </div>

                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            @* <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> *@
                            <h5 class="description-header">@ongoingTasks</h5>
                            <div>
                                <span class="description-text">TOTAL ACTIVE TASKS</span>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            @* <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span> *@
                            <h5 class="description-header">@completionRate%</h5>
                            <div>
                                <span class="description-text">TASKS COMPLETION RATE</span>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            @* <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> *@
                            <h5 class="description-header">@completedTasks</h5>
                            <div>
                                <span class="description-text">COMPLETED TASKS</span>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            @* Check project health based on completion rate *@
                            @if (completionRate >= 80)
                            {
                                <span class="description-percentage text-success"><i class="fa-solid fa-face-smile-beam"></i></span>
                            }
                            else if (completionRate >= 40)
                            {
                                <span class="description-percentage text-warning"><i class="fa-solid fa-face-meh"></i></span>
                            }
                            else
                            {
                                <span class="description-percentage text-danger"><i class="fa-solid fa-face-frown"></i></span>
                            }
                            @* <h5 class="description-header">@completionRate%</h5> *@
                            <div>
                                <span class="description-text">PROJECT HEALTH</span>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx_@projectTaskDetails.Project.Id = document.getElementById('@($"projectStatusChart_{projectTaskDetails.Project.Id}")').getContext('2d');
            var taskStatusChart_@projectTaskDetails.Project.Id = new Chart(ctx_@projectTaskDetails.Project.Id, {
                type: 'doughnut',
                data: {
                    labels: ['Planning', 'Pending', 'Delayed', 'Blocked', 'Completed'],
                    datasets: [{
                        label: 'Number of Tasks',
                        data: [
        @projectTaskDetails.Tasks.Count(t => t.Status == "Planning"),
        @projectTaskDetails.Tasks.Count(t => t.Status == "Pending"),
        @projectTaskDetails.Tasks.Count(t => t.Status == "Delayed"),
        @projectTaskDetails.Tasks.Count(t => t.Status == "Blocked"),
        @projectTaskDetails.Tasks.Count(t => t.Status == "Completed")
                                        ],
                        backgroundColor: [
                            'rgba(0, 128, 128, 1)',
                            'rgba(75, 0, 130, 1)',
                            'rgba(255, 165, 0, 1)',
                            'rgba(255, 0, 0, 1)', // Danger color (red)
                            'rgba(0, 128, 0, 1)' // Success color (green)

                        ],
                        borderColor: [
                            'rgba(0, 128, 128, 1)',
                            'rgba(75, 0, 130, 1)',
                            'rgba(255, 165, 0, 1)',
                            'rgba(255, 0, 0, 1)', // Danger color (red)
                            'rgba(0, 128, 0, 1)' // Success color (green)
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
}
@* <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var projectTaskDetails in Model.ProjectTaskDetailsList)
            {
                @foreach (var task in projectTaskDetails.Tasks)
                {
                    <tr>
                        @if (task == projectTaskDetails.Tasks.First())
                        {
                            <td rowspan="@projectTaskDetails.Tasks.Count">@projectTaskDetails.Project.Name</td>
                        }
                        <td>@task.Title</td>
                        <td>@task.Status</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div> *@

    

<div class="row mt-4">
    <div class="col-md-6">
        <h2>Active Projects</h2>
        <table id="dashboard2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Person In Charge</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.ActiveProjectsList)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@project.Status</td>
                        <td>@project.StartDate.ToShortDateString()</td>
                        <td>@project.PIC</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h2>Active Tasks</h2>
        <table id="dashboard3" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Assigned To</th>
                    <th>Project</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.ActiveTasksList)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Status</td>
                        <td>@task.StartDate.ToShortDateString()</td>
                        <td>@Model.TaskAssignments[task.Id]</td>
                        <td>@task.Project.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<br />









